@model IEnumerable<StokKart>
@{
    ViewData["Title"] = "Ekle";

}


<script src="~/Theme/plugins/jquery/jquery.min.js"></script>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                <div style="margin-top:10px" class="card">
                    <div class="card-header">
                        <h3 class="card-title">Eklemek İstediğiniz Stok Türünü Seçin</h3>
                    </div>
                    <!-- /.card-header -->
                    @if (Model.Count() > 0)
                    {
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Ürün Kodu</th>
                                        <th>Ürün Adı</th>
                                        <th>Ürün Birimi</th>
                                        <th>Ürün Açıklama</th>
                                        <th>Alış Fiyatı</th>
                                        <th>Satış Fiyatı</th>
                                        <th></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.StokKodu</td>
                                            <td>@item.StokAdi</td>
                                            <td>@item.StokBirim</td>
                                            <td style="max-width:300px">@item.StokAciklama</td>
                                            <td>@item.StokAlis</td>
                                            <td>@item.StokSatis</td>
                                            <td>
                                                <a class="btn btn-primary btn-sm" asp-controller="Product" asp-action="Create" asp-route-id="@item.StokKartId">
                                                    Ekle
                                                </a>
                                                
                                            </td>

                                        </tr>
                                    }

                                </tbody>

                            </table>
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-danger">
                            Stok Kartı Eklenmemiş.
                        </div>
                    }
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
<!-- Page specific script -->
<script>
        $(function () {
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
</script>

